* {
    font-family: 'Quicksand';
}
body {
    text-align: center;
}
nav {
    height:50%;
    margin: 1em;
}
ul {
    display: flex;
    margin : 0px;
    padding: 0px;
    list-style-type:none;
    background-color:#1A86B0;
}

li {
    width: 100%;
    padding: 1.2em;
}
a {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Quicksand';

}
H2 {
    color: black;
    font-size:1.5em;
}

#start {
    color:black;
}